*.class

*.log

*.ctxt

.mtj.tmp/

*.jar
!*gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

build/*
.idea/*
.DS_Store
*.txt
!changelogs/*
.gradle/*
!.gradle/8.14/*

mod/forge+neo_1-20-1/build/*
mod/forge+neo_1-20-1/build
mod/forge+neo_1-20-1/run/*
mod/forge+neo_1-20-1/run
mod/forge+neo_1-20-1/.idea/*
mod/forge+neo_1-20-1/.vscode/*
mod/forge+neo_1-20-1/.gradle/*
mod/forge+neo_1-20-1/.github/*

mod/forge_1-21-1/build/*
mod/forge_1-21-1/build
mod/forge_1-21-1/run/*
mod/forge_1-21-1/run
mod/forge_1-21-1/.idea/*
mod/forge_1-21-1/.vscode/*
mod/forge_1-21-1/.gradle/*
mod/forge_1-21-1/.github/*

mod/neoforge_1-21-1/build/*
mod/neoforge_1-21-1/build
mod/neoforge_1-21-1/run/*
mod/neoforge_1-21-1/.idea/*
mod/neoforge_1-21-1/.vscode/*
mod/neoforge_1-21-1/.gradle/*
mod/neoforge_1-21-1/.github/*

mod/fabric_1-20-1/build/*
mod/fabric_1-20-1/build
mod/fabric_1-20-1/run/*
mod/fabric_1-20-1/run
mod/fabric_1-20-1/.idea/*
mod/fabric_1-20-1/.vscode/*
mod/fabric_1-20-1/.gradle/*
mod/fabric_1-20-1/.github/*

mod/fabric_1-21-1/build/*
mod/fabric_1-21-1/build
mod/fabric_1-21-1/run/*
mod/fabric_1-21-1/run
mod/fabric_1-21-1/.idea/*
mod/fabric_1-21-1/.vscode/*
mod/fabric_1-21-1/.gradle/*
mod/fabric_1-21-1/.github/*